*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Fuente */
    font-family: 'Josefin Sans', sans-serif;

    /* Fondo */
    background: hsla(238, 100%, 71%, 1);
    background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#696EFF", endColorstr="#F8ACFF", GradientType=1 );
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor-texto{
    width: 100%;
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

footer{
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    color: #3538a3;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #3538a3;

    margin-top: auto; /*Es indispensable que el body tenga display flex y flex-direction column*/
}